node_modules/*
coverage/*
coverage/clover.xml
coverage/lcov-report/src/index.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/util.ts.html
coverage/lcov-report/src/lib/constants.ts.html
coverage/lcov-report/src/lib/index.html
coverage/lcov-report/tests/index.html
coverage/lcov-report/tests/testdata.ts.html
coverage/lcov-report/index.html
coverage/coverage-final.json
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/index.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/util.ts.html
coverage/lcov-report/src/lib/constants.ts.html
coverage/lcov-report/src/lib/index.html
coverage/lcov-report/tests/index.html
coverage/lcov-report/tests/testdata.ts.html
